zapcode.ch, www.zapcode.ch {
	reverse_proxy zapfood-app:3000
}

auth.zapcode.ch {
	reverse_proxy keycloak:8080
}

server:80 {
	handle /registry* {
		uri strip_prefix /registry
		reverse_proxy registry:5000 {
			header_up Host {host}
			header_up X-Forwarded-Proto {scheme}
			header_up X-Forwarded-For {remote_host}
		}
	}

	handle /registry-ui* {
		uri strip_prefix /registry-ui
		reverse_proxy registry-ui:80
	}
}

server:443 {
	redir /portainer /portainer/

	handle_path /portainer/* {
		reverse_proxy portainer:9443 {
			transport http {
				tls_insecure_skip_verify
			}
		}
	}
}
